In [2]:
import sqlalchemy

In [3]:
sqlalchemy.create_engine('sqlite:///vivino_v2.db')

Engine(sqlite:///vivino_v2.db)

In [4]:
%load_ext sql

In [5]:
%sql sqlite:///vivino_v2.db

We want to highlight 10 wines to increase our sales, which ones should we choose and why?

In [6]:
%%sql -- The top 10 with the best ratings
SELECT
    name,
    ratings_average AS rating
FROM
    wines
ORDER BY
    rating DESC
LIMIT
    10

Running query in 'sqlite:///vivino_v2.db'

+---------------------------------------------+--------+
|                     name                    | rating |
+---------------------------------------------+--------+
| Amarone della Valpolicella Classico Riserva |  4.8   |
|              Cabernet Sauvignon             |  4.8   |
|                    Mágico                   |  4.8   |
|          Fratini Bolgheri Superiore         |  4.8   |
|           Cristal Rosé Vinothèque           |  4.8   |
|         Batard-Montrachet Grand Cru         |  4.8   |
|                IX Estate Red                |  4.7   |
|     Special Selection Cabernet Sauvignon    |  4.7   |
|        Unico Reserva Especial Edición       |  4.7   |
|                    Unico                    |  4.7   |
+---------------------------------------------+--------+

We have a marketing budget for this year, which country should we prioritise and why?

In [7]:
%%sql -- The one with the biggest consumer count
SELECT
    *
FROM
    countries
ORDER BY
    users_count DESC,
    wineries_count DESC
LIMIT
    5

Running query in 'sqlite:///vivino_v2.db'

+------+------------+---------------+-------------+-------------+----------------+
| code |    name    | regions_count | users_count | wines_count | wineries_count |
+------+------------+---------------+-------------+-------------+----------------+
|  us  | États-Unis |      362      |   12273684  |    204060   |     28145      |
|  fr  |   France   |      1306     |   5973301   |    422503   |     67553      |
|  it  |   Italie   |      563      |   4270717   |    274658   |     42399      |
|  de  | Allemagne  |      236      |   2549989   |    164533   |     13643      |
|  es  |  Espagne   |      152      |   2264396   |    102662   |     18026      |
+------+------------+---------------+-------------+-------------+----------------+

We would like to give a price to the best winery, which one should we choose and why?

In [8]:
%%sql --Complete
SELECT wineries.id, wineries.name, wines.ratings_average, SUM(wines.ratings_count)
FROM wineries
JOIN wines
ON wines.winery_id = wineries.id
GROUP BY wineries.name
ORDER BY wines.ratings_count DESC

Running query in 'sqlite:///vivino_v2.db'

+--------+---------------------------+-----------------+--------------------------+
|   id   |            name           | ratings_average | SUM(wines.ratings_count) |
+--------+---------------------------+-----------------+--------------------------+
|  1301  |           Caymus          |       4.6       |          199180          |
| 212823 |        Dom Pérignon       |       4.6       |          167667          |
|  1413  |      Tenuta San Guido     |       4.6       |          107646          |
| 55648  |        San Marzano        |       4.5       |          94289           |
| 60883  |            Masi           |       4.3       |          101065          |
|  1653  |          Tommasi          |       4.3       |          78089           |
| 64252  | Château Mouton Rothschild |       4.6       |          86619           |
| 11049  |           Alión           |       4.5       |          69278           |
| 14607  |    Pago de Carraovejas    |       4.4       |          65625           |
|  1740  |           Pintia          |       4.4       |          60705           |
+--------+---------------------------+-----------------+--------------------------+

We has detected that a big cluster of customers like a specific combination of tastes. We have identified few primary keywords that matches this and we would like you to find all the wines that have those keywords. To ensure accuracy of our selection, ensure that more than 10 users confirmed those keywords. Also, identify the flavor_groups related to those keywords.

In [10]:
%%sql --Just a test
SELECT *
from wines
INNER JOIN keywords_wine
ON wines.id = keywords_wine.wine_id
LIMIT 5

Running query in 'sqlite:///vivino_v2.db'

+-------+--------------------------------+------------+-----------+-----------+-----------------+---------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----------+-----------+-----------+-----------+----------+----------------------+------------+---------+------------+--------------+-------+
|   id  |              name              | is_natural | region_id | winery_id | ratings_average | ratings_count |                                                                                     url                                                                                     | acidity  | fizziness | intensity | sweetness |  tannin  | user_structure_count | keyword_id | wine_id | group_name | keyword_type | count |
+-------+--------------------------------+------------+-----------+-----------+-----------------+---------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----------+-----------+-----------+-----------+----------+----------------------+------------+---------+------------+--------------+-------+
| 82698 | Brunello di Montalcino Riserva |     0      |    1796   |   11500   |       4.6       |      3375     | <a href=https://www.seulementproduitsitaliens.be/spec_collezioni.php?CODICEWT=10BSRI90B>https://www.seulementproduitsitaliens.be/spec_collezioni.php?CODICEWT=10BSRI90B</a> | 3.830859 |    None   | 3.1464493 |  1.650779 | 3.602499 |         173          |    242     |  82698  |   earth    |   primary    |   73  |
| 82698 | Brunello di Montalcino Riserva |     0      |    1796   |   11500   |       4.6       |      3375     | <a href=https://www.seulementproduitsitaliens.be/spec_collezioni.php?CODICEWT=10BSRI90B>https://www.seulementproduitsitaliens.be/spec_collezioni.php?CODICEWT=10BSRI90B</a> | 3.830859 |    None   | 3.1464493 |  1.650779 | 3.602499 |         173          |    284     |  82698  |   earth    |   primary    |   46  |
| 82698 | Brunello di Montalcino Riserva |     0      |    1796   |   11500   |       4.6       |      3375     | <a href=https://www.seulementproduitsitaliens.be/spec_collezioni.php?CODICEWT=10BSRI90B>https://www.seulementproduitsitaliens.be/spec_collezioni.php?CODICEWT=10BSRI90B</a> | 3.830859 |    None   | 3.1464493 |  1.650779 | 3.602499 |         173          |    156     |  82698  |   earth    |   primary    |   28  |
| 82698 | Brunello di Montalcino Riserva |     0      |    1796   |   11500   |       4.6       |      3375     | <a href=https://www.seulementproduitsitaliens.be/spec_collezioni.php?CODICEWT=10BSRI90B>https://www.seulementproduitsitaliens.be/spec_collezioni.php?CODICEWT=10BSRI90B</a> | 3.830859 |    None   | 3.1464493 |  1.650779 | 3.602499 |         173          |     22     |  82698  |   earth    |   primary    |   23  |
| 82698 | Brunello di Montalcino Riserva |     0      |    1796   |   11500   |       4.6       |      3375     | <a href=https://www.seulementproduitsitaliens.be/spec_collezioni.php?CODICEWT=10BSRI90B>https://www.seulementproduitsitaliens.be/spec_collezioni.php?CODICEWT=10BSRI90B</a> | 3.830859 |    None   | 3.1464493 |  1.650779 | 3.602499 |         173          |    384     |  82698  |   earth    |   primary    |   21  |
+-------+--------------------------------+------------+-----------+-----------+-----------------+---------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----------+-----------+-----------+-----------+----------+----------------------+------------+---------+------------+--------------+-------+

In [11]:
%%sql -- THIS ONE DOESNT WORK
SELECT wines.name as wine, keywords.name as keyword, keywords_wine.group_name as flavor group
FROM wines
JOIN keywords_wine
ON wines.id = keywords_wine.wine_id
JOIN keywords
ON keywords.id = keywords_wine.keyword_id
JOIN flavor_groups
ON flavor_groups.name = keywords_wine.group_name

Running query in 'sqlite:///vivino_v2.db'

UsageError:
Looks like there is a syntax error in your query.Possible reason:
Syntax Error in SELECT wines.name as wine, keywords.name as keyword, keywords_wine.group_name as flavor group
FROM wines
JOIN keywords_wine
ON wines.id = keywords_wine.wine_id
JOIN keywords
ON keywords.id = keywords_wine.keyword_id
JOIN flavor_groups
ON flavor_groups.name = keywords_wine.group_name: Invalid expression / Unexpected token at Line 1, Column 93


Original error message from DB driver:
(sqlite3.OperationalError) near "FROM": syntax error
[SQL: SELECT wines.name as wine, keywords.name as keyword, keywords_wine.group_name as flavor group
FROM wines
JOIN keywords_wine
ON wines.id = keywords_wine.wine_id
JOIN keywords
ON keywords.id = keywords_wine.keyword_id
JOIN flavor_groups
ON flavor_groups.name = keywords_wine.group_name]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

If you need help solving this issue, send us a message: https://ploomber.io/community

In [22]:
%%sql -- THIS ONE WORKS NEEDS REVIEW
SELECT  DISTINCT keywords.name as keyword, wines.name as wine
FROM wines
JOIN keywords_wine
ON wines.id = keywords_wine.wine_id
JOIN keywords
ON keywords.id = keywords_wine.keyword_id
WHERE keywords.name IN ('coffee','toast','green apple', 'cream', 'citrus') AND (keywords_wine.count > 10)

Running query in 'sqlite:///vivino_v2.db'

+-------------+----------------------------------------------------+
|   keyword   |                        wine                        |
+-------------+----------------------------------------------------+
|    coffee   |           Brunello di Montalcino Riserva           |
|    coffee   |                      Pomerol                       |
|    cream    |                      Pomerol                       |
|    citrus   | Le Mesnil Blanc de Blancs (Cuvée S) Brut Champagne |
|    toast    | Le Mesnil Blanc de Blancs (Cuvée S) Brut Champagne |
|    coffee   | Le Mesnil Blanc de Blancs (Cuvée S) Brut Champagne |
|    cream    | Le Mesnil Blanc de Blancs (Cuvée S) Brut Champagne |
| green apple | Le Mesnil Blanc de Blancs (Cuvée S) Brut Champagne |
|    coffee   |        Pauillac (Premier Grand Cru Classé)         |
|    toast    |        Pauillac (Premier Grand Cru Classé)         |
+-------------+----------------------------------------------------+

In [13]:
%%sql -- THIS ONE WORKS NEEDS REVIEW
SELECT DISTINCT keywords.name as keyword, wines.name as wine
FROM wines
JOIN keywords_wine
ON wines.id = keywords_wine.wine_id
JOIN keywords
ON keywords.id = keywords_wine.keyword_id
--WHERE keywords.name IN ('coffee','toast','green apple', 'cream', 'citrus') AND (keywords_wine.count > 10)
--Adding a lot of ands, so wines have ALL the keywords
WHERE ((keywords.name = 'coffee') AND (keywords.name = 'toast') AND (keywords.name = 'green apple') AND (keywords.name = 'cream') AND (keywords.name = 'citrus'))

Running query in 'sqlite:///vivino_v2.db'

+---------+------+
| keyword | wine |
+---------+------+
+---------+------+

In [14]:
%%sql -- THIS ONE WORKS NEEDS REVIEW
SELECT name
FROM wines
WHERE (


SELECT DISTINCT keywords.name as keyword
FROM wines
JOIN keywords_wine
ON wines.id = keywords_wine.wine_id
JOIN keywords
ON keywords.id = keywords_wine.keyword_id
--WHERE keywords.name IN ('coffee','toast','green apple', 'cream', 'citrus') AND (keywords_wine.count > 10)
--Adding a lot of ands, so wines have ALL the keywords
WHERE ((keywords.name = 'coffee') AND (keywords.name = 'toast') AND (keywords.name = 'green apple') AND (keywords.name = 'cream') AND (keywords.name = 'citrus')))

Running query in 'sqlite:///vivino_v2.db'

+------+
| name |
+------+
+------+

We would like to do a selection of wines that are easy to find all over the world. Find the top 3 most common grape all over the world and for each grape, give us the the 5 best rated wines.

In [15]:
%%sql
--CREATE VIEW top_3_grapes AS
SELECT   DISTINCT   grapes.id,grapes.name, most_used_grapes_per_country.*
FROM most_used_grapes_per_country
JOIN grapes
ON most_used_grapes_per_country.grape_id = grapes.id
ORDER BY most_used_grapes_per_country.wines_count DESC
--limit 3

Running query in 'sqlite:///vivino_v2.db'

+----+--------------------+------+--------------+----------+-------------+
| id |        name        | id_1 | country_code | grape_id | wines_count |
+----+--------------------+------+--------------+----------+-------------+
| 2  | Cabernet Sauvignon |  7   |      us      |    2     |    801751   |
| 2  | Cabernet Sauvignon |  12  |      es      |    2     |    801751   |
| 2  | Cabernet Sauvignon |  17  |      au      |    2     |    801751   |
| 2  | Cabernet Sauvignon |  20  |      hu      |    2     |    801751   |
| 2  | Cabernet Sauvignon |  22  |      za      |    2     |    801751   |
| 2  | Cabernet Sauvignon |  28  |      cl      |    2     |    801751   |
| 2  | Cabernet Sauvignon |  31  |      md      |    2     |    801751   |
| 2  | Cabernet Sauvignon |  35  |      ar      |    2     |    801751   |
| 2  | Cabernet Sauvignon |  39  |      gr      |    2     |    801751   |
| 2  | Cabernet Sauvignon |  40  |      il      |    2     |    801751   |
+----+--------------------+------+--------------+----------+-------------+

In [16]:
%%sql
DROP VIEW top_3_grapes

Running query in 'sqlite:///vivino_v2.db'

(sqlite3.OperationalError) no such view: top_3_grapes
[SQL: DROP VIEW top_3_grapes]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [17]:
%%sql
SELECT DISTINCT name
FROM top_3_grapes

Running query in 'sqlite:///vivino_v2.db'

(sqlite3.OperationalError) no such table: top_3_grapes
[SQL: SELECT DISTINCT name
FROM top_3_grapes]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [18]:
%%sql
SELECT 
FROM grapes

Running query in 'sqlite:///vivino_v2.db'

UsageError:
Looks like there is a syntax error in your query.Possible reason:
Did you mean : ['SELECT FROM grapes']


Original error message from DB driver:
(sqlite3.OperationalError) near "FROM": syntax error
[SQL: SELECT
FROM grapes]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

If you need help solving this issue, send us a message: https://ploomber.io/community

We would to give create a country leaderboard, give us a visual that shows the average wine rating for each country. Do the same for the vintages.

In [19]:
%%sql -- MISSING VINTAGES? VISUALS?
SELECT DISTINCT countries.name as country, wines.ratings_average
from countries
JOIN regions
ON countries.code = regions.country_code
JOIN wines
ON wines.region_id = regions.id
ORDER BY wines.ratings_average DESC

Running query in 'sqlite:///vivino_v2.db'

+------------+-----------------+
|  country   | ratings_average |
+------------+-----------------+
|   Italie   |       4.8       |
| États-Unis |       4.8       |
|  Espagne   |       4.8       |
|   France   |       4.8       |
| États-Unis |       4.7       |
|  Espagne   |       4.7       |
|  Hongrie   |       4.7       |
|   France   |       4.7       |
|   Italie   |       4.7       |
| Australie  |       4.7       |
+------------+-----------------+

In [20]:
%%sql --Include vintages(not working)
SELECT  countries.name as country, wines.ratings_average, vintages.name, vintages.ratings_average as vintage
from countries
JOIN regions
ON countries.code = regions.country_code
JOIN wines
ON wines.region_id = regions.id
JOIN vintages
ON vintages.id = wines.id

Running query in 'sqlite:///vivino_v2.db'

+---------+-----------------+------+---------+
| country | ratings_average | name | vintage |
+---------+-----------------+------+---------+
+---------+-----------------+------+---------+

Give us any other useful insights you found in our data. Be creative!

**Nice-to-have features**

One of our VIP client like Cabernet Sauvignon, he would like a top 5 recommandation, which wines would you recommend to him?