In [1]:
import sqlalchemy

In [2]:
sqlalchemy.create_engine('sqlite:///vivino.db')

Engine(sqlite:///vivino.db)

In [3]:
%load_ext SQL

In [13]:
%%SQL sqlite: / / / vivino.db

UsageError: Line magic function `%` not found.

In [16]:
%%sql
SELECT
    *
FROM
    countries

 * sqlite:///vivino.db
Done.

[('it', 'Italie', 563, 4270717, 274658, 42399),
 ('fr', 'France', 1306, 5973301, 422503, 67553),
 ('us', 'États-Unis', 362, 12273684, 204060, 28145),
 ('es', 'Espagne', 152, 2264396, 102662, 18026),
 ('pt', 'Portugal', 93, 1123535, 39847, 5834),
 ('au', 'Australie', 120, 1022965, 90954, 13946),
 ('hu', 'Hongrie', 29, 102235, 16605, 1923),
 ('za', 'Afrique du Sud', 112, 269649, 30857, 4227),
 ('de', 'Allemagne', 236, 2549989, 164533, 13643),
 ('cl', 'Chili', 41, 326757, 41191, 5785),
 ('md', 'Moldavie', 9, 13583, 5055, 418),
 ('ar', 'Argentine', 41, 629532, 36121, 5339),
 ('gr', 'Grèce', 140, 95693, 9581, 1294),
 ('il', 'Israël', 20, 150549, 5435, 529),
 ('ro', 'Roumanie', 27, 228185, 6841, 686),
 ('hr', 'Croatie', 22, 64223, 5880, 980),
 ('ch', 'Suisse', 73, 1601799, 33656, 3849)]

We want to highlight 10 wines to increase our sales, which ones should we choose and why?

In [17]:
%%sql -- The top 10 with the best ratings
SELECT
    name,
    ratings_average AS rating
FROM
    wines
ORDER BY
    rating DESC
LIMIT
    10

 * sqlite:///vivino.db
Done.

[('Amarone della Valpolicella Classico Riserva', 4.8),
 ('Cabernet Sauvignon', 4.8),
 ('Mágico', 4.8),
 ('Fratini Bolgheri Superiore', 4.8),
 ('Cristal Rosé Vinothèque', 4.8),
 ('Batard-Montrachet Grand Cru', 4.8),
 ('IX Estate Red', 4.7),
 ('Special Selection Cabernet Sauvignon', 4.7),
 ('Unico Reserva Especial Edición', 4.7),
 ('Unico', 4.7)]

We have a marketing budget for this year, which country should we prioritise and why?

In [22]:
%%sql -- The one with the biggest consumer count
SELECT
    *
FROM
    countries
ORDER BY
    users_count DESC,
    wineries_count DESC
LIMIT
    1

 * sqlite:///vivino.db
Done.

[('us', 'États-Unis', 362, 12273684, 204060, 28145)]

We would like to give a price to the best winery, which one should we choose and why?

In [11]:
%%sql
SELECT
    wine.name,
    wine.ratings_count,
    winery.name AS winery
FROM
    wines AS wine
    INNER JOIN wineries AS winery ON wine.winery_id = winery.id
ORDER BY
    wine.ratings_count DESC

 * sqlite:///vivino.db
Done.

[('Lion Tamer Napa Valley Red Blend', 4981, 'Siepi'),
 ('The Armagh Shiraz', 2472, "Tenuta Tignanello 'Solaia'"),
 ('Colheita Porto', 741, 'Tignanello'),
 ('Raut Lagrein', 58, 'Corte di Cama Sforzato di Valtellina')]

We has detected that a big cluster of customers like a specific combination of tastes. We have identified few primary keywords that matches this and we would like you to find all the wines that have those keywords. To ensure accuracy of our selection, ensure that more than 10 users confirmed those keywords. Also, identify the flavor_groups related to those keywords.

In [18]:
%%sql
SELECT
    *
FROM
    wines AS w
    INNER JOIN keywords_wine AS kyw ON w.id = kyw.wine_id
WHERE
    kyw.

 * sqlite:///vivino.db
(sqlite3.OperationalError) incomplete input
[SQL: SELECT
    *
FROM
    wines AS w
    INNER JOIN keywords_wine AS kyw ON w.id = kyw.wine_id
WHERE
    kyw.]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

We would like to do a selection of wines that are easy to find all over the world. Find the top 3 most common grape all over the world and for each grape, give us the the 5 best rated wines.

We would to give create a country leaderboard, give us a visual that shows the average wine rating for each country. Do the same for the vintages.

Give us any other useful insights you found in our data. Be creative!

**Nice-to-have features**

One of our VIP client like Cabernet Sauvignon, he would like a top 5 recommandation, which wines would you recommend to him?